<div class="grid wide">
        <h1>Welcome To{{user.name}} My Farm</h1>
    <p> I think who is a dream, me too, my dream will be come true</p>

    <form action="" method="POST">
        
        <div>
            <label for="">Email</label>
            <input class="register__input" type="text" name="email">
        </div>
        <div>
            <label for="">PassWord</label>
            <input class="register__input" type="password" name="password">
        </div>
        <button id="btn" type="submit">Login</button>



    </form>
</div>