<div class="header">
    <div class="grid wide">
        <div class="nav">
            <div>
                <a href="/" class="logo">Home</a>
            </div>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/name/create" class="nav__link">Create</a></li>
                    <li class="nav__item"><a href="/name/update" class="nav__link">Update</a></li>
                    <li class="nav__item"><a href="/auth/login" class="nav__link">Login</a></li>
                    <li class="nav__item"><a href="/auth/register" class="nav__link">Register</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>